<!DOCTYPE html>
<html lang="en">
<head>
		<title>Eat Da Burger!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

<link rel="stylesheet" href="./assets/css/style.css" />
	</head>


<body>
	 <h1>Eat Da Burger!</h1>
<div id = "container-fluid">

  


		{{{ body }}}




</div>



		
	</body>


</html>