<header>

        <h1>Eat Da Burger</h1>

    <div class="picture">
            <img src="./images/burgers.png" alt="burger image">
    </div>

</header>

<div class="flex-container">

    <div class="align-item eat">
        <h2>Ready to Eat</h2>
            <ul class="icon">
              {{#each burger}}
              {{#unless this.devoured}}
                  <li class="fork" title="Burger was made on: {{this.date}}">
                    {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="devoured" value="1">
                      <button class="dev" type="submit">Devour it</button>
                    </form>
                  </li>
                  {{/unless}}
              {{/each}}
            </ul>
    </div>

    <div class="align-item addBurger">
        <div>
            <h2>Create a burger</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                  <input type="text" id="bu" name="burger_name" placeholder="Burger Name">
                </div>
                <button id="addBurger" type="submit">Add Burger</button>
            </form>
        </div>
    </div>

    <div class="align-item devoured">
        <h2>Devoured</h2>
            <ul class="icon">
                {{#each burger}}
              {{#if this.devoured}}
                  <li title="Burger was made on: {{this.date}}">
                    {{this.burger_name}}
                  </li>
              {{/if}}
              {{/each}}
            </ul>
    </div>
</div>










<header>

        <h1>Eat Da Burger</h1>

    
</header>

<div class="align-item addBurger">
    <div class="add-burger">>
      <h2> Create a burger</h2>
      <div class="">
      <form class="create-update-form" action="/" method="POST">
          <div class="form-group">
            <input type="text" id="bu" name="burger_name" placeholder="Burger Name">
          </div>
      <button type="submit" class="btn btn-primary" id="new_burger_btn">Add Burger</button>
      </form>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="burger-list col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <!-- show all uneaten burgers -->
      <!-- <div class="row"> -->
        <!-- <div class=""> -->
          <h3>Ready to Eat</h3>
          {{#each burger_data}}
            <div class="flex-container">

    <div class="align-item eat">
        <h2>Ready to eat</h2>
            {{#each burger }}
            {{#unless this.devoured}}
              <form action="/{{this.id}}?_method=PUT" method="POST" class="name_entry">
                <input type="hidden" name="devoured" value="1">
                <button class="dev" type="submit">Devour it!</button>
              </form>       
            {{/unless}}
            {{/each}}
    </div>

            <br>
      
         
    </div>
    <!-- show all eaten burgers -->
    <div class="dev-burger-list col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>Devoured Burgers</h3>
      {{#each burger_data}}
        {{#if this.devoured}}
        <!-- <input class="form-control" id="devoured-burgers" type="text" name="" placeholder="{{this.id}}. {{this.burger_name}}"> -->
        <h4>{{this.id}}. {{this.burger_name}}</h4>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>

<div class="flex-container">

    <div class="align-item eat">
        <h2 class="ready"  font-family: "'Fredericka the Great', cursive">Ready to Eat</h2>
            <ul class="icon">
              {{#each burger}}
              {{#unless this.devoured}}
                  <li class="fork" title="Burger was made on: {{this.date}}">
                    {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                      <input type="hidden" name="devoured" value="1">
                      <button class="dev" type="submit">Devour it</button>
                    </form>
                  </li>
                  {{/unless}}
              {{/each}}
            </ul>
    </div>

    <div class="align-item addBurger">
        <div>
            <h2>Create a burger</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                  <input type="text" id="bu" name="burger_name" placeholder="Burger Name">
                </div>
                <button id="addBurger" type="submit">Add Burger</button>
            </form>
        </div>
    </div>

    <div class="align-item devoured">
        <h2>Devoured</h2>
            <ul class="icon">
                {{#each burger}}
              {{#if this.devoured}}
                  <li title="Burger was made on: {{this.date}}">
                    {{this.burger_name}}
                  </li>
              {{/if}}
              {{/each}}
            </ul>
    </div>
</div>


